/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
p{
  font-size: 20px;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
  position: relative;
}
#bgimage{
  width: 100%;
    height: 100vh;
    background-image: url(images/bg-game3.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #818181;
  position: relative;
  padding: 20px;
}

.head-title {
  text-align: center;
  margin-bottom: 12px;
  color: #ff004f;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow effect */
  font-size: 26px; /* Increased font size */  
}
/* CSS for Play Again Button */
.win-message .play-again-btn,
.game-over-message .play-again-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #606060;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.win-message .play-again-btn:hover,
.game-over-message .play-again-btn:hover {
  background-color: #ff3355;
}

/* Style for Blur Effect */
.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* Adjust the blur strength as needed */
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CSS for Win Message */
.win-message,
.game-over-message {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity as needed */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 254, 254, 0.3);
  z-index: 1000;
  text-align: center;
  backdrop-filter: blur(8px); /* Apply blur to the message */
}
.game-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-message .image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.game-message .image-container img {
  width: 30%; /* Adjust the image width as desired */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add spacing between the image and button */
  border-radius: 12px;
  border: 4px solid #ff004f;
}

.game-message .play-again-btn {
  margin-top: 20px; /* Add margin to separate the image and button */
}
::selection{
  color: #fff;
  background: #6563ff;
}
.wrapper{
  padding: 25px;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.5);
}
.cards, .card, .view, .details, p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  height: 350px;
  width: 350px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card{
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}
.card.shake{
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
.cards .card .view{
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: #fff;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.card .front-view img{
  max-width: 17px;
}
.card .back-view{
  transform: rotateY(-180deg);
}
.card .back-view img{
  max-width: 95%;
  border-radius: 7px;
}
.card.flip .front-view{
  transform: rotateY(180deg);
}
.card.flip .back-view{
  transform: rotateY(0);
}

.details{
  width: 100%;
  margin-top: 15px;
  padding: 0 20px;
  border-radius: 7px;
  background: #fff;
  height: calc(100% / 4 - 30px);
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.details p{
  font-size: 18px;
  height: 17px;
  padding-right: 18px;
  border-right: 1px solid #ccc;
}
.details p span{
  margin-left: 8px;
}
.details p b{
  font-weight: 500;
}
.details button{
  cursor: pointer;
  font-size: 14px;
  color: #6563ff;
  border-radius: 4px;
  padding: 4px 11px;
  background: #fff;
  border: 2px solid #6563ff;
  transition: 0.3s ease;
}
.details button:hover{
  color: #fff;
  background: #6563ff;
}

@media screen and (max-width: 700px) {
  .cards{
    height: 350px;
    width: 350px;
  }
  .card .front-view img{
    max-width: 16px;
  }
  .card .back-view img{
    max-width: 95%;
    border-radius: 5px;
  }
}

@media screen and (max-width: 530px) {
  .cards{
    height: 300px;
    width: 300px;
  }
  .card .back-view img{
    max-width: 95%;
    border-radius: 5px;
  }
  .details{
    margin-top: 10px;
    padding: 0 15px;
    height: calc(100% / 4 - 20px);
  }
  .details p{
    height: 15px;
    font-size: 17px;
    padding-right: 13px;
  }
  .details button{
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    background: #6563ff;
  }
}
